body{
    margin: 0;
    padding: 0;


}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cardImage img{
    height: 180px;
    width: 100%;
}

.cardInfo *{
margin: 1px;
}

#cardContainer{
    width: 180px;
    height: 250px;
    padding: 5px;
    background-color: green;
    text-align: center;
    
}

