@import "tailwindcss";


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@layer utilities {
  .shimmer {
    position: relative;
    background: linear-gradient(
      90deg,
      #e5e7eb 25%,
      #f3f4f6 37%,
      #e5e7eb 63%
    );
    background-size: 400% 100%;
    animation: shimmer 800ms ease infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }
}