
.watch {
    display: flex;
    color: white;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.first,
.second,.third {
    height: 300px;
    width: 300px;
    background: linear-gradient(135deg, #1e1e1e, #2c2c2c);
    border-radius: 25px;
    font-size: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}


.btn {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.b {
    height: 90px;
    width: 90px;
    background: linear-gradient(145deg, #121212, #1a1a1a);
    border-radius: 50%;
    border: 2px solid #ffffff20;
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
}


.b:hover {
    background: #ffffff20;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 10px #0b0b0b;
}
