body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: rgba(199, 199, 199, 0.322);
  border-radius: 10px;
}

#card {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.cardImage img {
  height: 180px;
  width: 100%;
}

.cardInfo * {
  margin: 1px;
}

#cardContainer {
  width: 180px;
  height: 250px;
  padding: 5px;
  background-color: green;
  text-align: center;
}

#header {
  width: 100%;
  height: 80px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#logo img {
  height: 50px;
  width: 70px;
  margin: 20px;
}

#menu {
  display: flex;
  gap: 15px;
}


#search-bar {
  height: 30px;
  width: 500px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 5px;
}
#search-bar input {
  border: 1px solid grey;
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

#account {
  display: flex;
  gap: 10px;
}

#footer{
width: 100%;
}

#footer img{
width: 100%;
height: 300px;
}