body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#root{
    width: 100%;;
}

#container{
    background-color: rgb(23, 23, 23);
    color: white;
    height: 250px;
    width: 550px;
    border-right: 12px solid rgba(142, 139, 139, 0.84);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#header{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(215, 215, 215, 0.523);
    position: fixed;
    top: 0px;
    padding: 10px;

}

#header img{
    height: 70px;
    width: 130px;
}

#header input{
    height: 35px;
    width: 400px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}


